Clients/FileSysASMX.Client/Service References/ASMX/FileSys.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSubDirs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subDir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubDirsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubDirsResult" type="tns:Dir" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Dir">
        <s:complexContent mixed="false">
          <s:extension base="tns:FSysItem">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Files_ASMX" type="tns:ArrayOfFile" />
              <s:element minOccurs="0" maxOccurs="1" name="SubDirs_ASMX" type="tns:ArrayOfDir" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FSysItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="File">
        <s:complexContent mixed="false">
          <s:extension base="tns:FSysItem">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SizeInBytes" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDir">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Dir" nillable="true" type="tns:Dir" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubDirItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subDir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubDirItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubDirItemsResult" type="tns:ArrayOfFSysItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFSysItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FSysItem" nillable="true" type="tns:FSysItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFileSimple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileSimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileSimpleResult" type="tns:FileSimple" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileSimple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SizeInBytes" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSubDirsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubDirs" />
  </wsdl:message>
  <wsdl:message name="GetSubDirsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubDirsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubDirItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubDirItems" />
  </wsdl:message>
  <wsdl:message name="GetSubDirItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubDirItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSimpleSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileSimple" />
  </wsdl:message>
  <wsdl:message name="GetFileSimpleSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileSimpleResponse" />
  </wsdl:message>
  <wsdl:portType name="FileSysSoap">
    <wsdl:operation name="GetSubDirs">
      <wsdl:input message="tns:GetSubDirsSoapIn" />
      <wsdl:output message="tns:GetSubDirsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubDirItems">
      <wsdl:input message="tns:GetSubDirItemsSoapIn" />
      <wsdl:output message="tns:GetSubDirItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileSimple">
      <wsdl:input message="tns:GetFileSimpleSoapIn" />
      <wsdl:output message="tns:GetFileSimpleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileSysSoap" type="tns:FileSysSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubDirs">
      <soap:operation soapAction="http://tempuri.org/GetSubDirs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubDirItems">
      <soap:operation soapAction="http://tempuri.org/GetSubDirItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSimple">
      <soap:operation soapAction="http://tempuri.org/GetFileSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FileSysSoap12" type="tns:FileSysSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubDirs">
      <soap12:operation soapAction="http://tempuri.org/GetSubDirs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubDirItems">
      <soap12:operation soapAction="http://tempuri.org/GetSubDirItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileSimple">
      <soap12:operation soapAction="http://tempuri.org/GetFileSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSys">
    <wsdl:port name="FileSysSoap" binding="tns:FileSysSoap">
      <soap:address location="http://localhost:56344/SVC/FileSys.asmx" />
    </wsdl:port>
    <wsdl:port name="FileSysSoap12" binding="tns:FileSysSoap12">
      <soap12:address location="http://localhost:56344/SVC/FileSys.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>