WcfTestLibClient/Service References/DataStreamsRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://www.mkoit.de/DataStreams/Filedescriptor" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownstreamData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownstreamDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="DownstreamDataResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDescriptor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDescriptorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.mkoit.de/DataStreams/Filedescriptor" minOccurs="0" name="GetFileDescriptorResult" nillable="true" type="q2:Filedescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Filename" nillable="true" type="xs:string" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="SizeInKB" type="xs:double" />
  <xs:element name="UploadDirName" nillable="true" type="xs:string" />
  <xs:element name="GetAllFileDescriptors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileDescriptorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.mkoit.de/DataStreams/Filedescriptor" minOccurs="0" name="GetAllFileDescriptorsResult" nillable="true" type="q3:ArrayOfFiledescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileDescriptors_AdminsOnly">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFileDescriptors_AdminsOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.mkoit.de/DataStreams/Filedescriptor" minOccurs="0" name="GetAllFileDescriptors_AdminsOnlyResult" nillable="true" type="q4:ArrayOfFiledescriptor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>