WcfTestLibClient/Service References/CallingPatternsRef/CallingPatterns2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mkoit.de/ICallingPatterns" elementFormDefault="qualified" targetNamespace="http://www.mkoit.de/ICallingPatterns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DelayedReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delayInMs" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelayedReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelayedReturnResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartFastAsyncCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopFastAsyncCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetFastAsyncCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFastAsyncCounterValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFastAsyncCounterValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFastAsyncCounterValueResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>