Clients/FileSysASMX.Client/Service References/SVC/FileSysWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mko.FileSys" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mko.FileSys" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Dir">
    <xs:sequence>
      <xs:element minOccurs="0" name="Files_ASMX" nillable="true" type="tns:ArrayOfFile" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDirs_ASMX" nillable="true" type="tns:ArrayOfDir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dir" nillable="true" type="tns:Dir" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeInBytes" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfDir">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dir" nillable="true" type="tns:Dir" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDir" nillable="true" type="tns:ArrayOfDir" />
</xs:schema>